body{
    font-family: "Coda", sans-serif;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.left-side {
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}
.nav-link-wrapper a:hover {
    color: black;
}
.active-nav-link {
    border-bottom: 1px solid black;
}
.active-nav-link a {
    color:black !important;
}

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio-item-wrapper {
    position: relative;
}
.portfolio-img-backg {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper {

}

.img-text-wrapper .subtitle{
    transition: 1s;
    color: transparent;
    font-weight: 600;
}
.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.profile-img img {
    
    width: 110%;
}
.profile-content{
    padding: 30%;
}
.profile-content h1 {
    color: lightseagreen;
}
.more-content {
    color:lightseagreen;
    align-items: center;
    padding: 20%;
    
}
.portfolio-img-backg {
    background-image:url(foto-site/FotoShop.jpg); 
    border-radius:30px;
    cursor:pointer;
    
}
